body{
    font-family: 'Times New Roman';
    
}
h1{
    text-align: center;
    padding-top: 3em;
}

.thank-image{
    margin-top: 8em;
    padding-left: 40em;
    width: 300px;
    height: 300px;
}